__pycache__/
*.py[cod]
*.pyo
*.cpython-313.pyc

mainContext/static/img/signatures
mainContext/static/img/evidence

.env
mainContext/static/img/evidence/fo-sp-01/7-fosp-antes-1.jpg
mainContext/static/img/evidence/fo-sp-01/7-fosp-despues-1.jpg
mainContext/static/img/signatures/fo-em-01/foEM-3.png
mainContext/static/img/signatures/fo-em-01/foEM-4.png
mainContext/static/img/signatures/fo-em-01/foEM-6.png
mainContext/static/img/signatures/fo-sp-01/fosp-7.png
mainContext/static/img/signatures/fo-im-01/foIM-6.png
mainContext/static/img/evidence/fo-le-01/12-1.jpg
mainContext/static/
mainContext/static/img/
.env
